* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, #navbar a {
    color: #333;
}

a {
    text-decoration: none;
}

#links {
    display: flex;
    flex-direction: column;
    max-height: 28vh;
    overflow: scroll;
    border-bottom: 2px solid #555;
    width: 100%;
    margin-top: 63px;
}

#navbar header {
    position: absolute;
    background: #333;
    width: 100%;
    border-bottom: 2px solid #555;
    top: 0;
    text-align: center;
}

.nav-link {
    padding: .75em 2em;
}

.nav-link:not(:last-child) {
    border: 1px solid #333;
}

#links a:hover {
    color: #eee;
    background: #333;
}

header {
    font-size: 1.8em;
    padding: .5em 1em;
    color: #eee;
    background: #333;
}

section p, section ul {
    margin: 1em 2em 1em 2.75em;
    line-height: 1.5;
}

.code {
    background: #eee;
    padding: .5em 1em;
    margin: 1em 1em;
    border-radius: 5px;
}

.code pre {
    line-height: 1.75;
}

@media(min-width: 992px) {
    #navbar header {
        position: fixed;
        width: 30%;

        /* text-align: center; */
    }
    
    .container {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    #links {
        display: flex;
        flex-direction: column;
        border-right: 2px solid black;
        height: 100vh;
        /* margin-top: 0; */
        max-height: 100vh;
        position: fixed;
        width: 30%;
    }

    .nav-link:last-child {
    border: 1px solid #333;
    border-bottom: 2px solid #333;
    }
} 